.header {
    background-image: linear-gradient(to right, white, yellow);
}

 #button {
    margin-top: 3vh;
}



 .card-section {
    margin-top: 7vh;
}

#frame {
    width: 100%;
    height: 100%;
}



.cards {
    margin-left: 30px;
}

.buttons {
    width: 80%;
    margin: 17px;
    justify-content: center;
}

.is-flex {
    flex-wrap: wrap;
}

.max-line {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

.ph-modal::-webkit-input-placeholder {
    font-size: 11px;
    font-weight: bold;
}

.containers {
    justify-content: center;
    
}

.modal-card-head {
    background-color: yellow;
} 


.is-link{
    margin: 20px 60px 50px auto;
}

.form-list{
    margin-top: 10px;
}

ul{
    font-size: 30px;
    
}

.rec-btn{
    width: 150px;
}

.mod_size{
    background-image: url(../img/cocktailbkg.png);
}

.cocktail-area{
    background-color: lightyellow;
}